@font-face {
  font-family: PoiretOne;
  src:  url('../fonts/PoiretOne.ttf') format('truetype');
}

#main{
  background-color: #F7F5EE;
  padding: 0px;
}

.logo{
  font-family: PoiretOne,cursive;
  color: black;
  font-size: 51px;
  font-weight: 800;
}

#header{
  background-color: white;
  border-bottom: 1px solid green;
  min-width: 280px;
}

#header .navbar-brand{
  padding: 29px 15px 25px;
}

#small-logo{
  display: none;
}

#header .nav li{
  margin: 15px;
  font-size: 15px;
}

#cart{
  padding: 28.5px;
}

.dropdown-menu li{
  margin: 0 !important;
}

.more-hidden{
  display: none !important;
}

.navbar-toggle{
  top: 18px;
  left: 15px;
}

.navbar-brand{
  display: inline-block;
}
/* --------------------------------------
   Carousel
   -------------------------------------- */
#myCarousel {
	margin-top: 90px;
}

.carousel-caption {
	font-size: 24px;
}

.carousel-caption h4 {
	font-size: 32px;
}

#myCarousel .item {
	height: 600px;
}

#slide1 {
	background: url('../images/hero2.jpg') top center no-repeat;
  background-size: cover;
}

#slide2 {
	background: url('../images/hero1.jpg') top center no-repeat;
  background-size: cover;
}

#slide3 {
	background: url('../images/hero.jpg') top center no-repeat;
  background-size: cover;
}

#features .well{
  background-color: white;
  border-radius: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#features p{
  font-size: 17px;
}

#features h1{
  font-weight: bolder;
  font-size: 28px;
  padding: 12px 0px;
}

#select{
  margin-top: 20px;
}

#menu .item:hover > .well{
  border: 1px solid green;
}

#features .col-sm-7{
  height: 240px;
  padding-top: 50px;
  text-align: center;
}

#features .col-sm-8{
  height: 240px;
  padding-top: 35px;
  text-align: center;
}

#delivery img{
  max-width: 120%;
}

#personalised img{
  height: 260px;
  width: 110px;
}

#simple img{
  width: 100px;
}

#simple img, #delivery img, #personalised img, #select img{
  display: block;
  margin: auto;
  max-width: 110%;
}

#menu .well img{
  width: 100%;
  height: auto;
}

#menu .well h3{
  text-align: center;
}

#menu .well p{
  text-align: justify;
}

#menu .well{
  padding: 10px;
  margin: 0.5%;
  background-color: white;
  position: relative;
  display: block;
}

#menu .item{
  padding: 0px 5px 20px;
}

#menu{
  margin-top: 100px;
}


footer{
  background-color: #363636;
  color: white;
}

footer ul{
  list-style: none;
}

footer .follow h5{
  margin-left: 55px;
}

footer .follow li{
  display: inline-block;
}

footer .follow img{
  padding: 7px;
}

footer .logo{
  color: white;
  padding: 20px 0px;
}

footer h5{
  padding: 60px 0px 20px;
  font-size: 20px;
  color: #DDD;
  font-weight: 600;
}

footer a,a:hover,a:focus{
  color: #CCC;
  text-decoration: none;
  outline: none;
  font-size:15px;
}

footer a:hover{
  color: #EEE;
}

/*@grid-float-breakpoint:  @screen-md-min;
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);*/

@media  (min-width: 768px) and (max-width: 955px) {

  .more-expanded{
    display: none !important;
  }

  .more-hidden{
    display: block !important;
  }

}

@media  (max-width: 768px) {
  #features .col-sm-7{
    padding-top: 10px;
  }

  .navbar-brand{
    display: none;
  }

  #menu .col-xs-12{
    width: 66%;
    margin: 0 18%;
  }

  #menu .col-xs-12 img{
    width: 80%;
    margin: 0 10%;
  }

  #small-logo{
    position: fixed;
    float: none;
    display: inherit;
    width: 100%;
    text-align: center;
    height: 0;
    padding: 0 !important;
  }

  #small-logo span{
    position: relative;;
    top: 30px;
  }

  .navbar-toggle{
    position: absolute;
  }

  .navbar-collapse{
    width: 100%;
  }
}

@media  (max-width: 450px) {
  .navbar-brand{
    padding: 32px 15px 28px !important;
  }

  #simple .col-sm-8{
    height: 280px;
    padding-top: 10px;
  }

  #features .col-sm-7{
    height: 275px;
  }

  #personalised .col-sm-7{
    height: 315px ;
  }

  footer .follow img{
    padding: 3px;
  }
}
